body{
    background-color: lightpink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color:white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size:100px;
    color: rgb(245, 102, 46);
}

h2{
    color:brown;
}

table
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table tr th{
    color: hotpink;
}

li{
    float:inline-start;
}

li a{
    background-color: grey;
    color: white;
    padding-right: 50px;
}

a{
    background-color: darkgrey;
    color: lightcyan;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightblue;
    color: mediumslateblue;
    text-align: center;
}

.column{
    float:left;
    width: 22%;
    padding: 15px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

